<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="pagetitle">500 Internal Server Error</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="/css/gs1Corporate.css" /></head>
<body>

<header id="corporateHead">
    <img src="/images/gs1logo.png" alt="GS1 logo" id="logo"/>
    <p id="headerTitle">GS1 Resolver</p>
    <p id="strapline">The Global Language of Business</p>
</header>

<main id="main">
    <h1 id="pageH1">500 Internal Server Error</h1>
    <p>Well this is embarrassing. Please let us know about this error as soon as possible by contacting <a href="https://www.gs1.org/contact">your local GS1 Member Organisation</a>. Errors like this are not supposed to happen - we'll get on to fixing it right away</p>
    <p>More information is available about the <a href="https://www.gs1.org/standards/gs1-digital-link">GS1 Digital Link standard</a> and the <a href="https://www.gs1.org/standards/gs1-resolver-service">resolver service</a>.</p>


</main>


</body>
</html>