/* Styles for the GS1 resolver */

/* All screen sizes */

body {
  font-family: "Gotham SSm A", "Gotham SSm B", Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #002c6c;
  font-weight: normal;
}

#corporateHead {
  background-color:#eee;
  color: #454545;
  height:100px;
  padding: 0 2em;
}

#logo {
  width: 100px;
  float:left;
  margin-right: 2em;
}

#strapline {
  display: none;
}

#corporateHead #headerTitle {
  font-size: 100%;
  font-weight: 500;
  position: relative;
  top: 50px;
}


#gs1Keys ol {
  list-style-type : none;
  font-size:small;
  padding-left: .5em;
}

#gs1Keys ol li span.aiLabel {
  width: 7em;
  display: inline-block;
}

#gs1Keys h2 {
  font-size: 100%;
}

footer {
  text-align: right;
}

/* gs1 Linkset Viz styles */

.error {
  background-color: red;
  color: white;
}

/* Small screens */

  dl#linkList dd {
    white-space: nowrap;
    margin-left: .5em;
  }

  dl#linkList dd.href, dl#linkList dt.linkType {
    margin-top:0.5em;
  }

  dl#linkList dd {
    font-size: small;
  }

  dl#linkList dd span {
    display: inline-block;
    width:7em;
  }

  dl#linkList dd span.toTitle {
    margin-left: 0;
  }

  dl#linkList dd.href span.toTitle {
    margin-left: 0;
  }

  p.metaElement span.metaTitle {
    width: auto;
    display: inline;
 }

  p.metaElement span.metaValue {
    display: block;
    margin-left:0.5em;
    font-size: small;
 }



/* wider screens */

@media screen and (min-width: 600px) {

  #strapline {
    text-align:right;
    position: relative;
    top:40px;
    display:block;
  }
}