body, button {
  font-family: "Gotham SSm A","Gotham SSm B",Verdana,sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) td {
    background-color: #f2f2f2;
    }

a {
  color: #00B7FF;
}
