/* **************************************************************
These styles have been copied from the W3C stylesheet at
https://www.w3.org/StyleSheets/TR/2016/base.css and used almost
without adaptation. They create the table of contents that can be shown
as a collapsable side bar on wider screens, or at the top for
single column layouts.
Be sure to also include the fix up script at
https://www.w3.org/scripts/TR/2016/fixup.js"
***************************************************************** */



/** Back to Top / ToC Toggle **************************************************/

        @media print {
                #toc-nav {
                        display: none;
                }
        }
        @media not print {
                #toc-nav {
                        position: fixed;
                        z-index: 2;
                        bottom: 0; left: 0;
                        margin: 0;
                        min-width: 1.33em;
                        border-top-right-radius: 2rem;
                        box-shadow: 0 0 2px;
                        font-size: 1.5em;
                        color: black;
                }
                #toc-nav > a {
                        display: block;
                        white-space: nowrap;

                        height: 1.33em;
                        padding: .1em 0.3em;
                        margin: 0;

                        box-shadow: 0 0 2px;
                        border: none;
                        border-top-right-radius: 1.33em;
                        background: white;
      text-decoration:none;
                }
                #toc-nav > #toc-jump {
                        padding-bottom: 2em;
                        margin-bottom: -1.9em;
                }

                #toc-nav > a:hover,
                #toc-nav > a:focus {
                        background: #f8f8f8;
                }
                #toc-nav > a:not(:hover):not(:focus) {
                        color: #707070;
                }

                /* statusbar gets in the way on keyboard focus; remove once browsers fix */
                #toc-nav > a[href="#toc"]:not(:hover):focus:last-child {
                        padding-bottom: 1.5rem;
                }

                #toc-nav:not(:hover) > a:not(:focus) > span + span {
                        /* Ideally this uses :focus-within on #toc-nav */
                        display: none;
                }
                #toc-nav > a > span + span {
                        padding-right: 0.2em;
                }

                #toc-toggle-inline {
                        vertical-align: 0.05em;
                        font-size: 80%;
                        color: gray;
                        color: hsla(203,20%,40%,.7);
                        border-style: none;
                        background: transparent;
                        position: relative;
                }
                #toc-toggle-inline:hover:not(:active),
                #toc-toggle-inline:focus:not(:active) {
                        text-shadow: 1px 1px silver;
                        top: -1px;
                        left: -1px;
                }

                #toc-nav :active {
                        color: #C00;
                }
        }

/** ToC Sidebar ***************************************************************/

        /* Floating sidebar */
        @media screen {
                body.toc-sidebar #toc {
                        position: fixed;
                        top: 0; bottom: 0;
                        left: 0;
                        width: 23.5em;
                        max-width: 80%;
                        max-width: calc(100% - 2em - 26px);
                        overflow: auto;
                        padding: 0 1em;
                        padding-left: 42px;
                        padding-left: calc(1em + 26px);
                        background: inherit;
                        background-color: #f7f8f9;
                        z-index: 1;
                        box-shadow: -.1em 0 .25em rgba(0,0,0,.1) inset;
                }
                body.toc-sidebar #toc h2 {
/* GS1 amendment here - we'll keep the Table of Contents header
in the same style as other headings */
                        margin-top: .8rem;
/*                      font-variant: small-caps;
                        font-variant: all-small-caps;
                        text-transform: lowercase;
                        font-weight: bold;
                        color: gray;
                        color: hsla(203,20%,40%,.7); */
                }
                body.toc-sidebar #toc-jump:not(:focus) {
                        width: 0;
                        height: 0;
                        padding: 0;
                        position: absolute;
                        overflow: hidden;
                }
        }
        /* Hide main scroller when only the ToC is visible anyway */
        @media screen and (max-width: 28em) {
                body.toc-sidebar {
                        overflow: hidden;
                }
        }

        /* Sidebar with its own space */
        @media screen and (min-width: 78em) {
                body:not(.toc-inline) #toc {
                        position: fixed;
                        top: 0; bottom: 0;
                        left: 0;
                        width: 23.5em;
                        overflow: auto;
                        padding: 0 1em;
                        padding-left: 42px;
                        padding-left: calc(1em + 26px);
                        background: inherit;
                        background-color: #f7f8f9;
                        z-index: 1;
                        box-shadow: -.1em 0 .25em rgba(0,0,0,.1) inset;
                }
                body:not(.toc-inline) #toc h2 {
/* Same GS1 amendment here - we'll keep the Table of Contents header
in the same style as other headings */
                        margin-top: .8rem;
/*                      font-variant: small-caps;
                        font-variant: all-small-caps;
                        text-transform: lowercase;
                        font-weight: bold;
                        color: gray;
                        color: hsla(203,20%,40%,.7); */
                }

                body:not(.toc-inline) {
                        padding-left: 29em;
                }
                /* See also Overflow section at the bottom */

                body:not(.toc-inline) #toc-jump:not(:focus) {
                        width: 0;
                        height: 0;
                        padding: 0;
                        position: absolute;
                        overflow: hidden;
                }
        }
        @media screen and (min-width: 90em) {
                body:not(.toc-inline) {
                        margin: 0 4em;
                }
        }

/** Table of Contents *********************************************************/

        .toc a {
                /* More spacing; use padding to make it part of the click target. */
                padding-top: 0.1rem;
                /* Larger, more consistently-sized click target */
                display: block;
                /* Reverse color scheme */
                color: black;
                border-color: #3980B5;
    text-decoration: none;
        }
        .toc a:visited {
                border-color: #054572;
        }

.toc a[href]:focus,
        a[href]:hover {
                background: #f8f8f8;
                background: rgba(75%, 75%, 75%, .25);
/*              border-bottom-width: 3px;*/
    border-bottom: medium solid #EF6334;
                margin-bottom: -2px;
        }
        a[href]:active {
                color: #EF6334;
                border-color: #C00;
        }


        .toc a:not(:focus):not(:hover) {
                /* Allow colors to cascade through from link styling */
                border-bottom-color: transparent;
        }

        .toc, .toc ol, .toc ul, .toc li {
                list-style: none; /* Numbers must be inlined into source */
                /* because generated content isn't search/selectable and markers can't do multilevel yet */
                margin:  0;
                padding: 0;
                line-height: 1.1rem; /* consistent spacing */
        }

        /* ToC not indented until third level, but font style & margins show hierarchy */
        .toc > li             { font-weight: bold;   }
        .toc > li li          { font-weight: normal; }
        .toc > li li li       { font-size:   95%;    }
        .toc > li li li li    { font-size:   90%;    }
        .toc > li li li li li { font-size:   85%;    }

        .toc > li             { margin: 1.5rem 0;    }
        .toc > li li          { margin: 0.3rem 0;    }
        .toc > li li li       { margin-left: 2rem;   }

        /* Section numbers in a column of their own */
        .toc .secno {
                float: left;
                width: 4rem;
                white-space: nowrap;
        }
        .toc > li li li li .secno {
                font-size: 85%;
        }
        .toc > li li li li li .secno {
                font-size: 100%;
        }

        :not(li) > .toc              { margin-left:  5rem; }
        .toc .secno                  { margin-left: -5rem; }
        .toc > li li li .secno       { margin-left: -7rem; }
        .toc > li li li li .secno    { margin-left: -9rem; }
        .toc > li li li li li .secno { margin-left: -11rem; }

        /* Tighten up indentation in narrow ToCs */
        @media (max-width: 30em) {
                :not(li) > .toc              { margin-left:  4rem; }
                .toc .secno                  { margin-left: -4rem; }
                .toc > li li li              { margin-left:  1rem; }
                .toc > li li li .secno       { margin-left: -5rem; }
                .toc > li li li li .secno    { margin-left: -6rem; }
                .toc > li li li li li .secno { margin-left: -7rem; }
        }
        @media screen and (min-width: 78em) {
                body:not(.toc-inline) :not(li) > .toc              { margin-left:  4rem; }
                body:not(.toc-inline) .toc .secno                  { margin-left: -4rem; }
                body:not(.toc-inline) .toc > li li li              { margin-left:  1rem; }
                body:not(.toc-inline) .toc > li li li .secno       { margin-left: -5rem; }
                body:not(.toc-inline) .toc > li li li li .secno    { margin-left: -6rem; }
                body:not(.toc-inline) .toc > li li li li li .secno { margin-left: -7rem; }
        }
        body.toc-sidebar #toc :not(li) > .toc              { margin-left:  4rem; }
        body.toc-sidebar #toc .toc .secno                  { margin-left: -4rem; }
        body.toc-sidebar #toc .toc > li li li              { margin-left:  1rem; }
        body.toc-sidebar #toc .toc > li li li .secno       { margin-left: -5rem; }
        body.toc-sidebar #toc .toc > li li li li .secno    { margin-left: -6rem; }
        body.toc-sidebar #toc .toc > li li li li li .secno { margin-left: -7rem; }

        .toc li {
                clear: both;
